body {
    background-color: #012623;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: #3aff8f;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #04d9b29c;
    padding: 10px;
    border: #04d99d3c 10px solid;
    box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.voltagem {
    display: flex;
    align-items: center;
    flex-direction: row;
}

textarea {
    max-height: 100px;

}